#version:'3.8'

services: 
  #The frontend Service
  frontend:
    image: nginx:alpine
    ports: 
      - "80:80"
    volumes:
      - .:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend

  backend:
    build: .
    ports:
      - 5001:5001
    volumes:
      - .:/app
    depends_on:
      - db
  
  db:
    image: mongo:4.4
    ports:
      - 27017:27017
    volumes:
      - mongo-db:/data/db

volumes:
  mongo-db:
